.nav-wrapper a {
    color:#000000;
}

body {
    background: url("../img/bg.jpg") no-repeat;
    background-size:contain;
    background-position:50% 50px;
}

.doctor-info .container {
    margin-top:230px;
    margin-bottom: 50px;
    background-color:rgba(255, 255, 255, 0.274);
}

.doctor-row {
    display:flex;
    padding-bottom:40px;
}

.doctor-photo {
    width:20%;
}

.doctor-photo img {
    width:100%;
    min-width:130px;
}

.doctor-information {
    width:80%;
    padding-left:60px;
}

.doctor-btn {
    margin-top:50px;
    display:flex;
    justify-content:flex-end;
}

.doctor-name, .doctor-position, .doctor-reviews {
    margin:0;
    margin-top:20px;
}

.doctor-name {
    font-size:30px;
}

.doctor-position {
    font-size:18px;
}

.doctor-reviews {

}

.doctor-reviews--info {
    font-size:14px;
}

@media screen and (max-width: 640px) {
    .doctor-row {
        flex-direction: column;
        margin-left:0;
    }

    .doctor-photo {
        width:100%;
        display:flex;
        justify-content:center;
    }

    .doctor-photo img {
        width:100%;
        max-width:170px;
        min-width:140px;
    }

    .doctor-information {
        padding-left:0;
    }

    .doctor-btn{
        justify-content:flex-start;
    }

    .doctor-btn .btn i {
        display:none;
    }
}