.form-bg {
    background:url(../img/background.jpg) no-repeat;
    background-size:cover;
    padding:50px 0;
}

.nav-color a {
    color:black;
}

.form {
    width:50%;
    margin:150px auto;
    margin-right:50px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border:2px solid rgb(129, 129, 129);
    border-radius:6px;
    padding:20px 0;
    background:white;
}

.form__enter {
    width:45%;
}

.form__networks {
    width:44%;
}

.form-title {
    font-size:30px;
}

.button {
    width:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
}


.registration__form .btn {
    margin-right:15px;
    border-radius:5px;
    margin-bottom:39px;
}

.twitter {
    background-color:#1daee3;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
}

.facebook {
    background-color:#3a5998;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
}

.google {
    background-color:#d34836;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
}
 .twitter:hover {
    background-color:#1daee3cc;
}

 .facebook:hover {
    background-color:#3a5998be;
}

 .google:hover {
    background-color:#d34836b4;
}

.registration__info {
    margin:70px 0;
}

.registration__info--title {
    color:#f7f7f7;
    font-size:31px;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}

.registration__info--subtitle {
    color:#e77e32;
    font-size:31px;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}

.registration__info--arrow {

}

.registration__form {
    background:white;
    border-radius:5px;
    margin:45px 0;
}

.col.l6.registration__form {
    padding:2%;
}

.registration__form form{
    padding:2% 0;
}

.registration__form--title {
    font-weight:bold;
    font-size:37px;
    margin:0 0 10% 0;
    text-transform:uppercase;
}

.submit,.submit:hover {
    background-color:#e67e33;
    color:black;
    font-weight:bold;
    margin-top:7%;
}

