.form-bg {
    background:url(../img/4.png) no-repeat;
    background-size:cover;
    padding:30px 0;
}

.nav-color a {
    color:black;
}

.form {
    width:50%;
    height: 20%;
    margin:50px auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border:2px solid rgb(129, 129, 129);
    border-radius:6px;
    padding:20px 0;
    background:white;
}


   input[type="text"]::-moz-placeholder {color: #2c2c2c; }
   input[type="text"]::-webkit-input-placeholder { color: #3b3b3b; }
   input[type="text"]:-ms-input-placeholder { color: #3b3b3b; }
   input[type="text"]::-ms-input-placeholder { color: #3b3b3b; }
   input[type="text"]::placeholder { color: #3b3b3b; }
   input[type="email"]::-moz-placeholder {color: #2c2c2c;  }
   input[type="email"]::-webkit-input-placeholder { color: #3b3b3b; }
   input[type="email"]:-ms-input-placeholder { color: #3b3b3b; }
   input[type="email"]::-ms-input-placeholder { color: #3b3b3b; }
   input[type="email"]::placeholder { color: #3b3b3b; }

.form__networks {
    width:85%;
}

.button {
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
}

.registration__form--title {
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size:20px;
    margin:0 0 10% 0;
    text-transform:uppercase;
    white-space: nowrap;
}

